/* prevent page from showing element highlighting */
::-moz-selection{
    background-color:Transparent;
    /*color:#000;*/
}

::selection {
    background-color:Transparent;
    /*color:#000;*/
}

/* dark grey background for the body */
body {
	background-color:#424242 !important;
}

/* red background for the navigation bar*/
nav {
	background-color:#BD362F;
}

/* white links and text for navbar */
nav a, nav .navbar-brand {
	color:#fff;
}

/* light red highlight for the navbar links */
nav a:hover {
	background-color:#f06c6c !important;
	color:#BD362F;
}

/* styles for small to large screens */
@media (min-width: 768px) {
	body {
		padding-top: 50px;
	}

	.body-content {
		margin-top: 50px;
	}

	#plans-list .btn {
		width: 100%;
	}
}

/* styles for extra small screens */
@media (max-width: 767px) {
	body {
		padding-top: 187px;
	}

	#login {
		margin-top: -50px;
	}

	#plans-list .btn {
		width: 50%;
	}
}

.body-content h1 {
	color: white;
}

/* login, forms, logout */
#login h1 {
	font-size: 72pt;
	margin-bottom: 10px;
	text-align: center;
}

.form {
	background-color: #eee;
	border: 3px white solid;
	border-radius: 20px;
	padding:30px;
}

.form h3 {
	margin-bottom: 30px;
	margin-top: 0;
	text-align: center;
}

#create-plan-form textarea {
	resize: vertical;
}

#logout {
	color: white;
	font-size: 14pt;
	margin-top: 50px;
	text-align: center;
}

/* Plans list */
#plans-list h1 {
	font-size: 54pt;
	text-align: center;
}

#plans-list p {
	color: #ddd;
	font-size: 12pt;
	text-align: center;
}

#plans-list .btn {
	display: block;
	margin: 10px auto;
}

#plans-list table {
	background-color: white;
	margin-top: 20px;
}

#plans-list table td, #plans-list table th {
	padding: 15px;
}

#sidebar h3 {
	color: #eee;
	margin-bottom: 25px;
}

/* footer */
.footer {
	margin-bottom: 30px;
	margin-top: 10px;
	text-align: center;
}

.footer hr {
	width: 75%;
	border-color: #333;
}